.container{
	text-align:center;
}
div.instagram-container.col-sm-3:nth-of-type(5) {
	clear: both;
}
div.instagram-container img {
	width: 70%;
	border: 2px solid darkgray;
}
div.instagram-container p {
	font-size: 0.9em;
	margin:auto;
	width:70%;
}
#maps-toggle{
	clear:both;
}
#google-maps{
	width:100%;
	height:500px;
}
