/* FONTS & SIZES */
/* COLORS */
/* GENERAL CSS */
.hide-content,
#light-box {
  display: none;
}
div.instagram-container.col-sm-3:nth-of-type(5),
#maps-toggle,
hr {
  clear: both;
}
.container {
  text-align: center;
}
/* INSTAGRAM FEED */
div.instagram-container.col-sm-3 {
  margin: 15px 0px;
}
div.instagram-container img {
  width: 70%;
  border: 4px solid #fff;
  box-shadow: 1px 1px 6px #808080;
  border-radius: 2px;
}
div.instagram-container p {
  font-size: 0.9em;
  margin: auto;
  width: 70%;
}
/* GOOGLE MAPS */
#google-maps {
  width: 100%;
  height: 500px;
}
/* LIGHT BOX */
div#fade-background {
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  opacity: 0.8;
  display: none;
}
#light-box {
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px #000;
  -moz-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
}
#light-box #prev,
#light-box #next {
  height: 100%;
  width: 100px;
  position: absolute;
}
#light-box #next {
  right: 0;
}
