/* GENERAL */
html, body, #map-canvas {
     height: 100%;
     margin: 0;
     padding: 0;
}
div{
	box-shadow:none;
}
footer{
	color:#fff;
	height:20px;
	width:100%;
	position:fixed;
	bottom:0;
	font-family: 'Roboto', sans-serif;
	padding:0 5px;
}
.opacity{
	background: #000;
	opacity:0.9;
}
.blur{
	-webkit-filter:blur(2px);
	transition: 0.25s ease-in;
}

/* CONTENT CSS */
div [style*='rgba(88, 88, 88, 0.701961)'] {
	-moz-box-shadow: 0px !important;
	box-shadow: none !important;
}
.chapter-marker{
	cursor:pointer;
	text-align: center;
}
.chapter-marker p{
	color: white;
	text-shadow: 2px 2px 2px #000;
}
div#epsilon-marker {
	width: 200px;
}
#epsilon-marker img.pulse-rotate{
	-webkit-animation-name: pulse_rotate;
    -webkit-animation-duration: 5000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes pulse_rotate {
	0% { -webkit-transform: rotate(0deg); }
	30% { -webkit-transform: scale(0.8); }
	40% { -webkit-transform: scale(1.25); }
	50% { -webkit-transform: scale(0.8); }
	60% { -webkit-transform: rotate(180deg); }
	70% { -webkit-transform: scale(1.25); }
	80% { -webkit-transform: scale(1); }
	100% { -webkit-transform: rotate(360deg); }
}

/* CUSTOM BOX */
.fade-bg{
	width: 100%;	
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display:none;
}
.general-content{
	width:40%;
	height:70%;
	position:absolute;
	top:10%;
	left:10%;
	display:none;
	color:#fff;
	padding: 15px;
}
.general-content ul.navigation {
	padding: 0px;
	margin: 0px;
	text-align: center;
	height:15%;
}
.general-content ul.navigation li{
	list-style-type: none;
	display: inline-block;
	border-bottom: 3px solid #757575;
	margin: 0px 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
	color: #757575;
	cursor: pointer;
	margin-top:5px;
	font-size: 1.15rem; /* FOR ADDING IN GALLERY TAB */
}
.general-content ul.navigation li:hover{
	color:#fff;
	border-bottom:3px solid #fff;
	transition: 0.25s ease-in;
}
.general-content ul.navigation li.active{
	color:#fff;
	border-bottom:3px solid #fff;
}
.overflow{
	height:85%;
	overflow-y:auto;
}
.content-text{
	display:none;
}
#history{
	display:block;
}
#rush a{
	color:#fff;
}

/* CHAPTERS CSS */
#chapters{
	margin-top:1em;
}
#chapters li{
	cursor: pointer;
	text-align: center;
	list-style-type: none;
	margin: 3% 0px;
}

/* FOOTER CSS */
footer li{
	display:inline-block;
	cursor:pointer;	
}
.organization-name{
	float:left;
}
.chapter-name{
	float:right;
}

/* SOCIAL CSS */
.social-widgets{
	position:fixed;
	right:0;
	top: 10%;
	padding: 5px 0px 10px 5px;
}
.social-widgets li{
	list-style-type:none;
}
.social-icon a img {
	width: 80%;
	margin-top: 10%;
}
.social-icon {
	width: 35px;
	height: 35px;
	border-radius: 20px;
	text-align: center;
	margin-right: 5px;
	background: #333639;
	transition: 1.25s ease-out;
	-webkit-transition: 1.25s ease-out;
	-moz-transition: 1.25s ease-out;
	opacity: 0.5;
	margin-top:5px;
}
.social-icon:hover{
	transition: 0.25s ease-in;
	-webkit-transition: 0.25s ease-in;
	-moz-transition: 0.25s ease-in;
	opacity: 1;
}
#sw-facebook:hover{
	background:#3b5998;
}
#sw-twitter:hover{
	background: #1dcaff;
}
#sw-instagram:hover{
	background: #517fa4;
}
#sw-tumblr:hover{
	background: #35465c;
}
#sw-blogspot:hover{
	background: #fe6700;
}
#sw-youtube:hover{
	background: #e52d27;
}

/* HOME CSS */
.home{
	position:fixed;
	right:0;
	bottom:10%;
	padding: 5px;
	display:none;
	transition:1s ease-in;
}
.home img{
	width: 35px;
	opacity: 0.5;
	cursor: pointer;
	transition: 1.25s ease-out;
}
.home img:hover{
	opacity: 1;
	transition: 0.25s ease-in;
}

/* GALLERY CSS */
.owl-pagination, .owl-buttons{
	display:none;
}
div#gallery {
	height: 100%;
	overflow-y: hidden;
}
.lazyOwl{
	width:100%;
}

@media(max-width:1024){

}
@media(max-width:768px){
	.general-content{
		width:80%;
		font-size:1.25rem;
	}
}
@media(max-width:650px) and (max-height:400px){
	.social-widgets{
		top: 0%;
	}
	.home{
		bottom:6%;
	}
}
@media(max-width:480px){ /* PORTRAIT */
	/* MAP CSS */ 
	div#epsilon-marker {
		width: 130px;
		margin-left: -20px;
		margin-top: -20px;
	}
	#elogo-1{
		width: 55%;
	}
	#elogo-2{
		width: 25%;
	}
	#elogo-3{
		width: 20%;
	}

	/* CONTENT CSS */
	.general-content{
		width:70%;
	}
	.general-content ul.navigation {
		height: 16%;
	}
	.general-content ul.navigation li{
		font-size:1rem;
	}
	.organization-name {
		width: 50%;
		font-size: 1rem;
	}
	.chapter-name {
		width: 50%;
		font-size: 1rem;
		text-align: right;
	}
}