/* GENERAL */
html, body, #map-canvas {
     height: 100%;
     margin: 0;
     padding: 0;
}
div{
	box-shadow:none;
}
footer{
	background: #000;
	opacity:0.9;
	color:#fff;
	height:20px;
	width:100%;
	position:fixed;
	bottom:0;
	font-family: 'Roboto', sans-serif;
	padding:0 5px;
}
.blur{
	-webkit-filter:blur(2px);
}

/* CONTENT CSS */
div [style*='rgba(88, 88, 88, 0.701961)'] {
	box-shadow: none !important;
}
.chapter-marker{
	cursor:pointer;
}
#epsilon-marker img.pulse-rotate{
	-webkit-animation-name: pulse_rotate;
    -webkit-animation-duration: 5000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes pulse_rotate {
	0% { -webkit-transform: rotate(0deg); }
	30% { -webkit-transform: scale(0.8); }
	40% { -webkit-transform: scale(1.25); }
	50% { -webkit-transform: scale(0.8); }
	60% { -webkit-transform: rotate(180deg); }
	70% { -webkit-transform: scale(1.25); }
	80% { -webkit-transform: scale(1); }
	100% { -webkit-transform: rotate(360deg); }
}

/* FOOTER CSS */
footer li{
	display:inline-block;
	cursor:pointer;	
}
.organization-name{
	float:left;
}
.chapter-name{
	float:right;
}

/* SOCIAL CSS */
.social-widgets{
	position:fixed;
	right:0;
	top: 10%;
	background:#000;
	padding: 5px 0px 10px 5px;
}
.social-widgets li{
	list-style-type:none;
}
.social-icon a img {
	width: 80%;
	margin-top: 10%;
}
.social-icon {
	width: 35px;
	height: 35px;
	border-radius: 20px;
	text-align: center;
	margin-right: 5px;
	background: #333639;
	transition: 1.25s ease-out;
	-webkit-transition: 1.25s ease-out;
	-moz-transition: 1.25s ease-out;
	opacity: 0.5;
	margin-top:5px;
}
.social-icon:hover{
	transition: 0.25s ease-in;
	-webkit-transition: 0.25s ease-in;
	-moz-transition: 0.25s ease-in;
	opacity: 1;
}
#sw-facebook:hover{
	background:#3b5998;
}
#sw-twitter:hover{
	background: #1dcaff;
}
#sw-instagram:hover{
	background: #517fa4;
}
#sw-tumblr:hover{
	background: #35465c;
}
#sw-blogspot:hover{
	background: #fe6700;
}
#sw-youtube:hover{
	background: #e52d27;
}


/* TESTING */
.chapter-navigation {
display: none;
}
